<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!--Modify these for your Sugar-->
	<key>CFBundleName</key>
	<string>ZenCoding.sugar</string>
	<key>CFBundleIdentifier</key>
	<string>ru.zen-coding.espresso</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<!--No need to modify these values-->
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
</dict>
</plist>