<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Zen Coding</string>
	<key>uuid</key>
	<string>B2B32343-BDBC-45A3-8E73-E55E9FAE380F</string>
</dict>
</plist>
